* {
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
}

body{
    font-family: sans-serif;
    background-color: Gray;
    padding: 100px;
}

div{
    margin: auto;
    background-image: url(https://images.pexels.com/photos/1229042/pexels-photo-1229042.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    border: 7px solid white;
    border-radius: 100px;
    color: white;
}

.napl{
    width: 100px;
    height: 50px;
    padding: 50px;
    transition-property: all;
    transition-duration: 1s;
    position: relative;
    background-image: url(images/particles.gif);
}

.napl:hover{
    animation-name: myAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes myAnimation{
    0% {
        left: 0px; top: 0px;
    }
    25% {
        left: 100px; top: 0px;
        transform: rotate(20deg);
    }
    50% {
        left: -100px; top: 0px;
        transform: rotate(-20deg);
    }
    100% {
        left: 0px; top: 0px;
    }
}

.secondo{
    width: 100px;
    height: 50px;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    transition-property: all;
    transition-duration: 1s;
    position: relative;
    background-image: url(images/trip.gif);
}

.secondo:hover{
    animation-name: ingrandisci;
    animation-duration: 3s;
}

@keyframes ingrandisci{

    0% {
        left: 0px; top: 0px;
    }
    25% {
        width: 25px;
        height: 25px;
        left: -30px; top: 0px;
        transform: rotate(20deg);
    }
    75% {
        width: 50px;
        height: 50px;
        left: 30px;
        transform: rotate(-20deg);
    }
    100% {
        left: 0px; top: 0px;
    }
}

.gif{
    transition-property: all;
    transition-duration: 1s;
    margin-top: 50px;
    width: 50px;

    border-radius: 50px;

    background-image: url(images/lama.gif);
    background-size: cover;
}

.gif:hover{
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: infinite;
}

@keyframes rotate{

    100% {
        transform: rotate(360deg);
    }
}
