html, body{
    min-height: 100%;
}

body{
    font-family: sans-serif;
    background-color: Gray;
    padding: 100px;
}

div{
    margin: auto;
    padding: 70px;
    width: 30%;
    background-image: url(https://images.pexels.com/photos/1229042/pexels-photo-1229042.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    border: 3px solid;
    border-color: red;
    color: white;
}

.napl{
    position: relative;
}

.napl:hover{
    animation-name: myAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes myAnimation{
    0% {
        left: 0px; top: 0px;
    }
    25% {
        left: 100px; top: 0px;
        transform: rotate(20deg);
    }
    50% {
        left: -100px; top: 0px;
        transform: rotate(-20deg);
    }
    100% {
        left: 0px; top: 0px;
    }
}

.secondo{
    position: relative;
    margin-top: 100px;
    height: 5px;
    width: 5px;

    border: 10px solid Tomato;
    border-radius: 100px;
}

.secondo:hover{
    animation-name: ingrandisci;
    animation-duration: 3s;
}

@keyframes ingrandisci{

    0% {
        left: 0px; top: 0px;
    }
    25% {
        width: 25px;
        height: 25px;
        left: -30px; top: 0px;
        transform: rotate(20deg);
    }
    75% {
        width: 50px;
        height: 50px;
        left: 30px;
        transform: rotate(-20deg);
    }
    100% {
        left: 0px; top: 0px;
    }
}
